<% if @user.nil? == false %>
  <div class="container show-container" style="padding-top:80px">
    <div class="container">
      <%= render 'back'%>
    </div>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this profile from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="container text-center">
      <div class="container">
        <h1>
          Editing User Profile
        </h1>
      </div>

      <br/>

      <div class="container">
        <div class="container form-bottom-padding">
          <img src="<%= current_admin.avatar_url%>" width="200" height="200" class="rounded-circle">
        </div>
        <br/>
        <p>
          Email: <%= @user.email%>
        </p>
      </div>

      <div class="container form-bottom-padding">
        <form action=<%= update_profile_url %> id="edit_profile" method="post">
          <label for="admin_full_name" style="margin-right: 10px">Full Name:</label>
          <input id="admin_full_name" name="full_name" type="text" value="<%= @user.full_name %>" title="Enter Name">
          <br/><br/>

          <button type='submit' class='btn btn-secondary'>Submit</button>
        </form>
      </div>
    </div>
  </div>
<% else %>
    <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
        <h1 style="color: #ff0000">
        PERMISSION DENIED
        </h1>
        <h2>You do not have the permission to acess this page!</h2>
    </div>
<% end %>