<% if Admin.current_user_admin?(current_admin) %>
  <div class="d-flex justify-content-center flex-column align-items-center" style="padding-top: 80px;">
    <h1>Users</h1>
    <%= button_to "Add a New Permission", "/permissions", class: "btn btn-new", method: :get %>
    <div class="container-md">
      <table class="table table-striped table-bordered table-responsive table-font">
        <thead class="thead-light">
          <tr>
            <th scope="col">Information</th>
            <th scope="col">Permissions Not Added</th>
            <th scope="col">Permissions Added</th>
            <th scrop="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr class="center-vert-hor cell-pad">
              <td>
                <%= admin.full_name%>
                <br>
                <%= admin.email%>
              </td>
              <td>
                <% @permissions.each do |permission| %>
                  <% if not(admin.permissions.where(user_id_id: admin.id, permissions_id_id: permission.id).exists?)%>
                    <form class="button_to" method="get" action=<%= new_permission_user_path %>>
                      <input type="hidden" name="user_id" value=<%= admin.id %>>
                      <input type="hidden" name="permission_id" value=<%= permission.id %>>
                      <input type="hidden" name="created_by" value=<%= Admin.id(current_admin) %>>
                      <input type="hidden" name="updated_by" value=<%= Admin.id(current_admin) %>>
                      <button class="btn btn-new" id="add-permission-<%= admin.id %>-<%= permission.id %>">
                        <%= permission.description%>
                      </button>
                    </form>
                    <br>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% admin.permissions.each do |admin_permission| %>
                  <% if Permission.where(id: admin_permission.permissions_id_id).first.description == 'admin'%>
                    admin
                  <% else %>
                    <a data-method="delete" 
                      href=<%= permission_user_path(admin_permission) %> 
                      data-confirm="Are you sure you want to remove <%= Permission.where(id: admin_permission.permissions_id_id).first.description %> from <%= admin.full_name %>?"
                      class="delete" id="delete-permission-<%= admin_permission.id %>"
                    >
                      <%= Permission.where(id: admin_permission.permissions_id_id).first.description%>
                    </a>
                  <% end %>
                  <br>
                <% end %> 
              </td>
              <td>
                <a data-method="delete"
                  href="/admins/<%= admin.id%>"
                  data-confirm="Are you sure you want to delete all of <%= admin.full_name %>'s data? This action is irreversible"
                  class="delete" id="delete-admin-<%= admin.id %>">
                    <button class="btn" title="Delete" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash delete" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
    <h1 style="color: #ff0000">
      PERMISSION DENIED
    </h1>
    <h2>You do not have the permission to acess this page!</h2>
  </div>
<% end %>