<div class="container">

  <div class="container page-top-margin">
    <%= render 'back'%>
  </div>
  <br>
  <div class="d-flex form-bottom-padding" style="justify-content: center">
    <form>
      <div class='align-self-center' style="text-align: center">
        <h1><%= @event.name %></h1>
      </div>

      

      <div class="form-group">
        <label for="descriptionsInput" class="form-label">Description</label>
        <textarea type="text" id="descriptionsInput" class="form-control" disabled="disabled" readonly="readonly"><%= @event.description%></textarea>
      </div>

      <div class="form-group">
        <label for="locationsInput" class="form-label">Location</label>
        <textarea id="locationsInput" class="form-control" disabled="disabled" readonly="readonly"><%= @event.location %></textarea>
      </div>

      <div class="form-group">
        <label for="timeInput" class="form-label">Time</label>
        <textarea id="timeInput" class="form-control" disabled="disabled" readonly="readonly"><%= @event.time.strftime("%b %-d, %Y %-I:%M %p %Z") %></textarea>
      </div>

      <div class="form-group">
        <label for="timeInput" class="form-label">Last Updated By</label>
        <textarea type="text" id="descriptionsInput" class="form-control" disabled="disabled" readonly="readonly"><%= Admin.name_given_id(@event.updated_by)%></textarea>
      </div>

      <div class="form-group">
        <label for="timeInput" class="form-label">Created By</label>
        <textarea type="text" id="descriptionsInput" class="form-control" disabled="disabled" readonly="readonly"><%= Admin.name_given_id(@event.created_by)%></textarea>
      </div>
    </form>
  </div>
  <div>
