<% if Admin.current_user_admin?(current_admin)%>
  <div class="container page-top-margin">
    <form class="button_to" method="get" action=<%= permission_users_path %>>
      <button class="btn back-button" id="back">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-left-short back-button" viewbox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>
        <span class="back-button">Back</span>
      </button>
    </form>
  </div>
  <div class="d-flex justify-content-center flex-column align-items-center" style="padding-top: 80px;">
    <h1>Permissions</h1>
    <div>
      <table class="table table-striped table-bordered table-responsive table-font">
        <thead class="thead-light">
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @permissions.each do |permission|%>
            <tr class="center-vert-hor cell-pad">
              <td>
                <form class="button_to" method="get" action=<%= permission_path(permission) %>>
                  <button class="btn" id="permission-<%= permission.id %>">
                    <span style="font-weight: bold"><%= permission.description %></span>
                  </button>
                </form>
              </td>
              <td>
                <div class="d-flex center-vert-hor actions">
                  <form class="button_to" method="get" action=<%= edit_permission_path(permission)%>>
                    <button class="btn" id="edit-permission-<%= permission.id %>">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil edit" viewbox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>
                  </form>
                  <br><br>
                  <a data-method="delete" href="/permissions/<%= permission.id%>" data-confirm="Are you sure?" class="delete" id="delete-permission-<%= permission.id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill delete" viewbox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= button_to "Add a New Permission", new_permission_path, class: 'btn btn-new', :method => :get%>
  </div>
<% else %>
  <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
    <h1 style="color: #ff0000">
      PERMISSION DENIED
    </h1>
    <h2>You do not have the permission to acess this page!</h2>
  </div>
<% end %>
