<%= form_with(model: player, class: "") do |form| %>
<% if player.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(player.errors.count, "error") %>
      prohibited this player from being saved:</h2>

    <ul>
      <% player.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, class: 'form-control', rows: '3', placeholder: 'Enter Player Name'%>
</div>

<br/>

<div class="row justify-content-center text-center">
  <div class="form-group col-3">
    <%= form.label :wins, class: 'form-label'%>
    <%= form.number_field :wins, class: 'form-control text-center' %>
  </div>
  <div class="form-group col-3">
    <%= form.label :losses, class: 'form-label' %>
    <%= form.number_field :losses, class: 'form-control text-center'%>
  </div>
</div>

<br/>

<div class="form-group">
  <%= form.label :strengths, class: 'form-label' %>
  <%= form.text_area :strengths, class: 'form-control', placeholder: 'What are some strengths?'%>
</div>

<div class="form-group">
  <%= form.label :weaknesses, class: 'form-label'%>
  <%= form.text_area :weaknesses, class: 'form-control', placeholder: 'What are some weaknesses?'%>
</div>

<br/>

<div class="form-group">
  <%= form.label :additional_info, class: 'form-label'%>
  <%= form.text_area :additional_info, class: 'form-control', placeholder: 'Any additional information?'%>
</div>

<br>

<button type='submit' class='btn btn-secondary'>Submit</button>

<br/>

<% end %>