<div class="container">
    <div>
        <a href=<%= players_path%>>
            <%= bootstrap_icon  "arrow-left", width: 36, height: 36 %>
        </a>
    </div> 
    <center>
        <h1>Editing <%= @player.name %></h1>
    </center>
    <div>
        <%= render 'form', player: @player %>
    </div>


    <%# <%= link_to 'Show', @player %>
</div>
