<div class="container">

  <%# <%= link_to "Sign Out", destroy_admin_session_path %> 

  <p> Hello, <%= current_admin.full_name %> </p>

  <p id="notice"><%= notice %></p>

  <h2>Players</h2>

  <table class="player-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wins</th>
        <th>Played</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.name, player %></td>
          <td><%= player.wins %></td>
          <td><%= player.played %></td>
          <td>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Player', new_player_path %>
</div>
