<div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">

  <%# <%= link_to "Sign Out", destroy_admin_session_path %> 

  <p id="notice"><%= notice %></p>

  <h1>Players</h1>

  <div>
  <table class="table table-striped table-bordered table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Wins</th>
        <th scope="col">Played</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.name, player %></td>
          <td><%= player.wins %></td>
          <td><%= player.played %></td>
          <td>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <br>

  <button class="btn btn-secondary" onclick=<%= new_player_path%>>
    <%= link_to "New Player", new_player_path%>
  </button>
</div>
