<%= link_to "Sign Out", destroy_admin_session_path %>

<p> Hello, <%= current_admin.full_name %> </p>

<p id="notice"><%= notice %></p>

<h2>Players</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Played</th>
      <th>Wins</th>
      <th>Strengths</th>
      <th>Weaknesses</th>
      <th>Additional info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.played %></td>
        <td><%= player.wins %></td>
        <td><%= player.strengths %></td>
        <td><%= player.weaknesses %></td>
        <td><%= player.additional_info %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
