<nav class="navbar navbar-expand-lg navbar navbar-dark bg-maroon">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%= root_path %>>Logo Here</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if current_admin != nil %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href=<%= players_path %>>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/#">Gallery</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="<%= current_admin.avatar_url%>" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <li>
              <p class="dropdown-item"><%= current_admin.email %></p>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href=<%= destroy_admin_session_path %>>Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</nav>